@import "helpers-0.6";
@import "normalize";
@import "constants";
@import "forkmebanner";

html {
	font-size: @root_size;
}

body {
	.font-size(12);
	
	max-width: 600px;
	margin: 0 auto;
	background: #dcdcdc;
	color: #314159;
	font-family: inconsolata, "courier new", monospace;	
	
	@media only screen and (max-width: 680px) {
		.font-size(10);
	}
}

#xslt-elements, #xpath-functions {
	> h1 {
		margin: 1em 0 0.4em 0.4em;
		border-bottom: 2px solid;
	}
}

a {
	color: inherit;
	text-decoration: none;
	
	&:hover { text-decoration: underline; }
}

code {
	font-family: inherit;
	font-size: 1em;
	color: @color_code;
	background: @bgcolor_code;
}

.element, .function {
	margin: 10px 2em;
	padding: 10px;

	font-size: 1em;

	> h1 {
		font-size: 1.4em;
		margin: 0;
		color: @color_elem;
	}
	
	&:hover {
		border-radius: 6px;
		background: @color_hovered;
	}
}

.function {
	> h1 {
		color: @color_func;
	}
}

.desc {
	display: none;
	padding: 5px;
	margin: 0 10px;
	color: @color_desc;
	
	> p { margin: 0 0 0.6em; }
	
	a {
		font-weight: bold;

		&:hover {
			text-decoration: underline;
		}
	}

}

.note {
	border-radius: 3px;
	padding: 10px;
	font-size: 75%;
	color: @color_note;
	background: @bgcolor_note;
	
	&:before {
		content: "Note:\A0";
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	}
}

.content, .args {
	padding: 0 0 0 10px;
	margin: 5px 0;
	list-style: none;
	
	> h2 { font-size: 12px; }
}

li.elem-ref, li.attr-ref {
	padding: 0;
	margin: 0 0 0 1em;
}

li.attr-ref:before {
	content: "@";
}

.elem-ref {
	color: @color_elem;
}

.attr-ref {
	font-style: normal;
	color: @color_attr;
}

.arg-ref {
	font-weight: normal;
	font-style: italic;
	color: @color_args;
}

.required {
	font-weight: bold;
}

.type {
	display: none;
	color: @color_attr_type;

	.enum {
		color: @color_attr_type_enum;
		font-style: normal;
	}
	
	.general { font-style: italic; }
}


.element:target, .function:target {
	border-radius: 6px;

	box-shadow:
		0 10px 8px -10px hsla(120, 0%, 0%, 0.8),
		0 -10px 8px -10px hsla(120, 0%, 0%, 0.8);
	
	border: solid rgba(0, 0, 0, 0.4);
	border-width: 1px 0;
	
	background: @color_selected;
	font-size: 175%;
	margin: 10px 0;
	
	a { text-decoration: none; }
	
	&:hover {
		background: @color_selected;
	}
	
	.desc { display: block; }
	.type { display: inline; }
}

.toc-link {
	.font-size(14);

	font-family: Helvetica;
	position: fixed;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	text-align: right;
	
	a { display: block; }
	
	@media only screen and (max-width: 680px) {
		right: 0;
		left: auto;
		top: 100px;
		width: 60px;
	}
}

#toc:target {
	#xslt-elements, #xpath-functions {
		width: 45%;
		float: left;
	}
	
	.element, .function {
		margin-top: 2px;
		margin-bottom: 0;
		padding-bottom: 0;
		padding-top: 0;
	}
	
	.element {
		.desc, .content {
			clip: rect(0, 0, 0, 0);
			position: absolute;
		}
	}
	
	.function {
		.arglist {
			display: none;
		}
	}
}